# Email mass delivery policy service using systemd
# ----------------------------------
#
# /lib/systemd/system/policy.service
#
# run this command to enable service:
# systemctl enable policy.service

[Unit]
Description=Email mass delivery policy service
After=network.target

[Service]
User=www-data
Group=www-data
Restart=on-failure
WorkingDirectory=/path/to/emd
ExecStart=/usr/bin/php artisan policy:listen start
ExecStop=/usr/bin/php artisan policy:listen stop
ExecReload=/usr/bin/php artisan policy:listen restart

[Install]
WantedBy=multi-user.target
